* {
    box-sizing: border-box;
}

.form{
    display: grid;
    grid-template: 40px 40px /1fr 1fr;
    gap: 15px;
    border-radius: 5px;
}
.form--input{
    text-indent: 5px;
}
.form--button {
    grid-column: 1 / -1;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
.main{
    padding: 38px;
}
.meme--img{
    width: 100%;
}
.meme{
    
    position: relative;

}
.meme-text {
    position: relative;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    }